/* Daniel Uria Edroso UO282813 */

/*Especificidad: 001*/
header{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
   
   
}

/*Especificidad: 002*/
header nav {
   display: flex;
   flex-wrap: wrap;
   margin-left: 0.2em;
   justify-content: center;
}


/*Especificidad: 003*/
header nav a{
    align-self: center;
    margin: 0.6em;
}

header h1{
    align-self: center;
}

@media (max-width: 560px) {

    /*Especificidad: 002*/
    header nav {
        flex-direction: row;
    }

    /*Especificidad: 002*/
    header h1{
        font-size: 0.8em;
    }
}


