/* Daniel Uria Edroso UO282813 */

main{
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   grid-template-rows: repeat(9, 1fr);
   width: 500px;
   height: 500px;
   border: 0.2em solid #000;
 
}

main p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    border: 0.05em solid #808080;
}

main p:nth-child(3n){
    border-right: 0.1em solid #000;
}

main p:nth-child(n+19):nth-child(-n+27){
    border-bottom: 0.1em solid #000;
}

main p:nth-child(n+46):nth-child(-n+54){
    border-bottom: 0.1em solid #000;
}

p[data-state="blocked"] {
    background-color: #FFFF; 
  }  