/* Daniel Uria Edroso UO282813 */

/*Especificidad: 012*/
body section:nth-of-type(3) {
    width:100%; 
    height:50vw; 
   }

   /*Especificidad: 011*/
input[type='button']{
    background-color: #2F4F6F; 
    color: #FFF; 
    padding: 0.5em 1em;
    font-size: 1.2em; 
    border: none; 
    border-radius: 0.5em; 
}

/*Especificidad: 001*/
pre{
    font-family: Tahoma, sans-serif;
}

/*Especificidad: 012*/
section[data-name="altimetrias"] article{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

/*Especificidad: 012*/
section[data-name="altimetrias"] h5{
    display: flex;
    justify-content: center;
    align-self: self-start;
    margin-left: 5em;
    
}

/*Especificidad: 002*/
body > article {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden; /* <===  */
    border-radius: 1em;
  }

/*Especificidad: 003*/
body > article h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}

/*Especificidad: 003*/
body > article img {
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/*Especificidad: 002*/
h5,h6{
  font-size: 1.2em;
}

/*Especificidad: 011*/
button:active {
    transform: scale(1.1);
  }

/*Especificidad: 011*/
button[data-action=prev] {
    top: 50%;
    left: 2%;

    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    font-size: 1em;
  }
 
/*Especificidad: 011*/
button[data-action=next] {
    top: 50%;
    right: 2%;

    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    font-size: 1em;
  }
  


@media (max-width: 560px) {

  /*Especificidad: 001*/
    img{
        width: 100%;
        height: auto;
    }

}






